{% extends 'base.html' %}

{% block title %}Geordle{% endblock %}

{% block content %}
<div id="title">GEORDLE</div>
 

<div id="grid-container">
    <div class="grid-cell" contenteditable="true"></div>
    <div class="grid-cell" contenteditable="true"></div>
    <div class="grid-cell" contenteditable="true"></div>
    <div class="grid-cell" contenteditable="true"></div>
    <div class="grid-cell" contenteditable="true"></div>
    
    <div class="grid-cell" contenteditable="true"></div>
    <div class="grid-cell" contenteditable="true"></div>
    <div class="grid-cell" contenteditable="true"></div>
    <div class="grid-cell" contenteditable="true"></div>
    <div class="grid-cell" contenteditable="true"></div>

    <div class="grid-cell" contenteditable="true"></div>
    <div class="grid-cell" contenteditable="true"></div>
    <div class="grid-cell" contenteditable="true"></div>
    <div class="grid-cell" contenteditable="true"></div>
    <div class="grid-cell" contenteditable="true"></div>

    <div class="grid-cell" contenteditable="true"></div>
    <div class="grid-cell" contenteditable="true"></div>
    <div class="grid-cell" contenteditable="true"></div>
    <div class="grid-cell" contenteditable="true"></div>
    <div class="grid-cell" contenteditable="true"></div>

    <div class="grid-cell" contenteditable="true"></div>
    <div class="grid-cell" contenteditable="true"></div>
    <div class="grid-cell" contenteditable="true"></div>
    <div class="grid-cell" contenteditable="true"></div>
    <div class="grid-cell" contenteditable="true"></div>

    <div class="grid-cell" contenteditable="true"></div>
    <div class="grid-cell" contenteditable="true"></div>
    <div class="grid-cell" contenteditable="true"></div>
    <div class="grid-cell" contenteditable="true"></div>
    <div class="grid-cell" contenteditable="true"></div>
</div>

<div id="message" class="message"></div> 
<script src="static/js/main.js"></script>

{% endblock %}
